.logo{
    height: 70px;
    width: auto;
    object-fit: contain;
}

.footer-link{
    display:block;
    color:white;
    text-decoration:none;
    margin-bottom:10px;
}

.footer-link:hover{
    color:#2154a0;
}
.social-link{
    display:inline-block;
    color:white;
    text-decoration:none;
    transition:all 0.3s ease;
}
.social-link:hover{
    color:#0d6efd;
    transform:translateX(5px);
}
